.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 15%;
    color: red;
    img{
        width: 160px;
        height: 68px;
    }
    ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    li {
        margin-left: 20px;
    }

    a {
        font-family: 'Montserrat';
        font-weight: bold;
        color: black;
        font-size: 1.2rem;
        text-decoration: none; /* Supprime la décoration de texte (soulignement) */
        transition: color 0.3s ease;

        &:hover {
            color: #ff6347;
        }

        &.active-link {
            text-decoration: underline;
            text-decoration-thickness: 2px; /* Augmenter l'épaisseur de l'underline */
        }
    }
}
.banner {
    position: relative; /* Crée un contexte de positionnement pour les éléments enfants */
    text-align: center;
    padding: 20px;
    background-size: cover;
    color: white;
    img{
        width: 75%;
        height: 223px;
        object-fit: cover;
        border-radius: 30px;
        filter:drop-shadow(10px);
    }
    h1{
        position: absolute; /* Positionne l'élément de manière absolue par rapport à .home-banner */
        top: 34%; /* Centre verticalement */
        left: 50%; /* Centre horizontalement */
        transform: translate(-50%, -50%); /* Compense la translation pour centrer exactement */
        color: white;
        font-size: 4em; /* Taille de la police */
        background-color: rgba(0, 0, 0, 0.5); /* Optionnel : fond semi-transparent pour améliorer la lisibilité */
        /* Quatre valeurs - Haut, Droite, Bas, Gauche */
        padding: 80px 290px 75px 284px;
        border-radius: 30px;
        width:max-content
    }
}

// les cards //
.card-logement {
    position: relative;
    display: flex;
    width: 360px;
    height: 335px;
    min-width: 335px;
    transition: transform 1s;
    

    & img {
        display: flex;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

    &__layer {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%; // Assurez-vous que la largeur de l'élément est à 100%
        height: 100px; // Par exemple, ajustez en fonction de la hauteur souhaitée
        background: linear-gradient(to top, rgba(255, 0, 0, 0.8), rgba(0, 0, 0, 0));
        border-radius: 15px;
    }

    &__title {
        display: flex;
        align-items: flex-end;
        font-family: 'Montserrat';
        font-size: 1em;
        font-weight: bold;
        color: #fff;
        padding-left: 10px;
       }
}

.cards-container {
    display: flex;
    justify-content: center;
    width: 66%;
    gap: 42px;
    left: 327px;
    flex-wrap: wrap;
    background-color:#F6F6F6;
    border-radius: 15px;
    padding-top: 4%;
    padding-bottom: 4%;
    position: relative;
    margin-bottom: 3%;
    margin-top: 3%;
}

.link_card_logement {
    text-decoration: none;
}

.about-collapse{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    button {
        background-color: #FF6060;
        color: #fff;
        text-align: start;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        font-size: 1.8em;
        border: none;
        width: 70%;
        height: 25px;
        margin-bottom: 1%;
        padding-bottom: 40px;
    }
    .button-about img {
        transition: transform 0.3s ease; /* Ajoute une transition à la propriété transform */
      }
      
      .button-about img.rotate {
        transform: rotate(-180deg); /* Applique une rotation de 180 degrés à l'image */
      }
      
    p{
        font-size: 1.2em;
        overflow: hidden;
        width: 70%;
        padding-left: 3%;
    }
}

// le footer //
footer{
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
        padding-top: 45px;
        height: 35px;
        padding-bottom: 30px;
    }
}

.errorContainer{
    color:#FF6060;
    font-family: 'Montserrat';
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    text-align: center;
    .errorNumber {
        font-size: 200px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .errorText{
        font-size: 35px;
        margin-bottom: 170px;
    }
    .errorLinkHome{
        margin-bottom: 120px;
        color: #000;
    }
}
