.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;  /* Ajouté pour centrer verticalement le contenu */
  height: 415px;  /* Hauteur définie pour le conteneur */
  width: 100%;
  position: relative;
  overflow: hidden;

  .leftArrow {
    position: absolute;
    top: 50%;
    right: 82%;
  }

  .rightArrow {
    position: absolute;
    top: 50%;
    left: 82%;
  }

.slider {
    overflow: hidden;
    height: 100%;
    border-radius: 20px;
  
  img {
    border-radius: 20px;
    max-width: 100%; /* L'image prend toute la largeur du conteneur */
    height: auto; /* La hauteur s'ajuste automatiquement pour conserver les proportions */
    object-fit: cover; /* Remplir le conteneur tout en conservant les proportions */
  }
    
    .slider__number {
      color: #fff;
      font-size: 1.5em;
      top: 90%;
      position: absolute;
      right: 50%;
    }
  }
}

@media screen and (max-width: 768px) {
  .carousel-container {
    .slider {
      img {
        border-radius: 20px;
        width: 100%; /* Prendre toute la largeur disponible */
        height: auto; /* S'ajuster proportionnellement */
        object-fit: cover; /* Remplir le conteneur tout en conservant les proportions */
      }
      
      .slider__number {
        bottom: 10px; /* Placer en bas */
        position: absolute;
        right: 50%;
        transform: translateX(50%);
      }
    }
  }
}
