.carousel-container{
  display: flex;
  justify-content: center;
  height: 415px;
  width: 100%;
  position: relative;
  overflow: hidden;
  .leftArrow {
    position: absolute;
    top: 50%;
    right: 76%;
  }
  .rightArrow {
    position: absolute;
    top: 50%;
    left: 76%;
  }
     .slider img {
        width: 72em; /* Ajuste la largeur de l'image pour qu'elle remplisse son conteneur */
        height: 100%; /* Ajuste la hauteur de l'image pour qu'elle remplisse son conteneur */
        object-fit: cover; /* Assure que l'image couvre complètement le conteneur sans déformation */
      }
      
      .slider__number{
    color:#fff;
    font-size: 1.5em;
    top: 90%;
    position: absolute;
    right: 50%;
  }
}
