.logement-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Ajout d'un espacement entre les sections */
    font-family: 'Montserrat';
    width: 60%;
    margin-left: 20%;
  }
  
  .logement-header-host {
    display: flex;
    justify-content: space-between; /* Distribue l'espace entre les éléments */
    align-items: center; /* Aligne les éléments verticalement */
    gap: 20px; /* Ajout d'un espacement entre les éléments */
  }
  
  .logement-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alignement des éléments sur la gauche */
    gap: 10px; /* Espacement entre les éléments */
  
    &__title {
      color: #FF6060;
      font-size: 2.5em;
      font-weight: 500;
      margin-bottom: 0;

    }
  
    &__location {
      font-size: 18px;
      font-weight: 500;
      color: #555; /* Style pour la localisation */
      margin-top: 0;
    }
  }
  
  .host-div {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacement entre le nom et l'image */
    margin-bottom: 0;
  
    .host__name {
      font-size: 1.5em;
      color: #FF6060;
      width: 108Zpx;
    }
  
    .host__img {
      border-radius: 50%;
      object-fit: cover;
      width: 100px;

    }
  }
  
  /* Autres styles existants */
  .logement-ts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permettre le retour à la ligne des éléments si nécessaire */
    gap: 10px; /* Espacement entre les tags */
    justify-content: space-between;
    ul {
        display: flex;
        flex-direction: row; /* Aligne les éléments de la liste en ligne */
        list-style-type: none; /* Supprime les puces de la liste */
        padding: 0; /* Supprime le padding par défaut */
        margin: 0; /* Supprime le margin par défaut */
        gap: 9px;
      }
  
    &__tags {
        display: flex;
      color:#fff;
      padding: 5px 10px;
      border-radius: 20px;
      font-size: 1.2em;
      background-color: #FF6060;
    }
    &__stars {
      display: flex;
      gap: 5px; /* Espacement entre les étoiles */
    }
  }
  
  
  .logement-content {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Espacement entre la description et les équipements */
    width: 100%;
    justify-content: center;
    align-items: baseline;
  .collapse{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 40px;
    button{
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
    }
    p{
        display: flex;
        text-align: center;
        padding-left: 14%;
        
    }
  }
    &__desc {
      font-size: 1.2em;
      color: #333;
    }
  
    &__equipements {
      font-size: 1em;
      color: #666;
    }
  }
  